<h1 id="webmachine">Webmachine</h1>

<p>Operations and representers work nicely within Webmachine.</p>

<h2 id="api">API</h2>

<p>The modular API of operation allows to split <em>model-finding</em> and <em>operation-building</em>. This fits perfectly into the Webmachine flow.</p>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="k">def</span> <span class="nf">resource_exists?</span>
  <span class="no">Comment</span><span class="o">::</span><span class="no">Create</span><span class="o">.</span><span class="n">model!</span><span class="p">(</span><span class="n">params</span><span class="p">)</span>
<span class="k">end</span>

<span class="k">def</span> <span class="nf">update</span> <span class="c1"># beth, please a link to that code, again</span>
  <span class="no">Comment</span><span class="o">::</span><span class="no">Create</span><span class="o">.</span><span class="p">(</span><span class="n">params</span><span class="p">,</span> <span class="ss">model</span><span class="p">:</span> <span class="n">resource</span><span class="p">)</span>
<span class="k">end</span></code></pre></div>

<p>Model is only queried once and then passed into the operation builder/run.</p>
