<h2 id="skipping">Skipping</h2>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="ss">:skip_if</span><span class="p">:</span> <span class="ss">:all_blank</span></code></pre></div>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="ss">:skip_if</span><span class="p">:</span> <span class="o">-&gt;</span><span class="p">(</span>            <span class="c1"># FIXME)</span></code></pre></div>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby"><span class="ss">:skip_if</span><span class="p">:</span> <span class="ss">:method</span>    <span class="c1"># FIXME</span></code></pre></div>

<h3 id="signature">Signature</h3>

<p>(fragment, options)</p>

<h2 id="separate-deserializer">Separate Deserializer</h2>

<p>representer</p>

<p>do it yourself</p>
